recentf
places
network-security.data
elpa
backups
auto-save-list
/smex-items
projectile*
anaconda-mode
/ac-comphist.dat
/bookmarks
/recentf~
/company-statistics-cache.el
/company.el
/semanticdb
flycheck_init.el
